:root{
    --primary-color: #1E3A8A;
    --secondary-color: #D97706;
    --bg: #F8FAFC;
    --text-color: #0F172A;
    --font-family: 'Inter', system-ui, sans-serif;
}
*{
    box-sizing: border-box;
}

.roboto footer {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 header,main,nav,footer{
        box-sizing: border-box;
        margin: 0 auto;
    }
header{
    background-color: var(--primary-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: 75px 1fr 44px;
    gap: 8px;
}
header span{
    align-content: center;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 2rem;
}
.hamburger::before{
    content: "\2630";
    text-decoration: none;
    font-size: 3rem;
}
.hamburger.show::before{
    content: "\00D7";
    font-weight: 400;
    font-size: 3rem;
    
}
.navigation{
    display: none;
}
.navigation.show{
    display: grid;
    background-color: var(--primary-color);
    color: #fff;
}

.show a{
    display: grid;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px;
    margin: 5px;
    font-family: var(--font-family);
}
header img{
    width: 75px;
}
main .filters{
    display: flex;
    justify-content: center;
    align-items: center;
}

.change{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    padding: 10px 20px;
    border: #0F172A solid 1px;
    margin: 10px 15px;
    font-family: var(--font-family);
    font-size: 1.2rem;
    cursor: pointer;
}
.gridView{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
section:hover{
    transform: translateY(-5px); /* Moves the figure up by 5 pixels */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
#company-directory section{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}
#company-directory section img{
    display: none;
}
section img{
    display: block;
    place-items: center;
    width: 200px;
}
.listView section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.listView section img{
    display: none;
}
    
section{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 0.5;
    border: var(--text-color) solid 1px;
    margin: 10px;
}
#company-directory.gridView section{
    border: #0F172A solid 1px;
    display: block;
    place-items: center;
    padding: 10px 30px;
    margin: 10px 30px;
    width: 400px;
    height: auto;
}

#company-directory.gridView section img{
    display: block;
}

.change:hover{
    transform: translateY(-5px); /* Moves the figure up by 5 pixels */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}


footer{
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
    color: var(--secondary-color);
    
}
footer div{
    margin: 0 10px;
}
footer .socials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
}
.socials a img{
    padding: 0 20px;
    margin: 0 20px;
    width: 75px;
}
footer .end{
    display: flex;
    flex-direction: column;
    justify-content: start;
    left: 10px;
    margin: 10px;
}