@media screen and (min-width: 32.5rem){
    :root{
    --secondary-color: #465082;
    --primary-color: #ddec13;
    --footer-color: #83904f;
    --bg: #F8FAFC;
    --font-family: 'Inter', system-ui, sans-serif;
    }
    .hamburger{
        display: none;
    }
    header,main,nav,footer{
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 1200px;
    }
    header{
        display: grid;
        grid-template-columns: 75px 1fr 1fr;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        color: var(--bg);
    }
    .navigation a{
        color: var(--bg);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 5px;
        margin: 5px;
        font-family: var(--font-family);
    }
    .second{
        display: flex;
        justify-content: center;
    }
    .action{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--primary-color);
        padding: 10px;
        font-size: 1.5rem;
        color: #1a1a1a;
        border-radius: 10px;
    }
    #company-directory section{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    }
    .display{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .membership{
        width: 400px;
        height: 100px;
        background-color: #83904f;
        color: #1a1a1a;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    footer{
        background-color: var(--secondary-color);
        color: var(--bg);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: start;
        height: 200px;
        
    }
    footer .socials{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
    .socials a img{
        padding: 0 20px;
        margin: 0 20px;
        width: 75px;
        height: 75px;
    }
}