*{
    box-sizing: border-box;
}
:root{
    --color1: rgb(10, 50, 62);
    --color2: #434343;
}

header{
    display: grid;
    align-items: end;
    gap: 10px;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 10px 5px;
}


header span{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    
}
button{
    height: 30px;
}
.hamburger{
    content: "\2630";
}
.navigation{
    display: none;
}

.classic{
    display: grid; 
    grid-template-columns: auto;
}

.info{
        background-color: var(--color2);
        /*padding: 10px;*/
        margin: 5px;
    }

    .info h2{
        display: flex;
        background-color: var(--color1);
        color: #fff;
        border: solid black 2px;
        align-items: center;
        justify-content: center;
        margin: 5px auto;
    }

    .info img{
        display: flex;
        justify-content: center;
        width: 200px;
        height: auto;
        padding: 10px 20px;
        margin: 10px auto;
    }

/*
.icons{
    display:grid;
    place-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 44px;
    padding: 5px;
}

.icons a{
    display: flex;
    margin: 0 auto 0 0;
    padding: 5px;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}*/

footer .icons{
    place-items: center;
    margin: 0 auto;
}
footer .end{
    background-color: var(--color2);
    place-items: center;
    padding: 20px;
}